canvas{
	background-color: gray;
}

div#content {
	position: fixed;
	top: 0px;
	left: 0px;
}
div#help {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	opacity: 0.95;
}

html * {
	font-family: "Courier New";
}
