canvas{
	background-color: gray;
}

div#content {
	/*background-color: #d0d0d0;*/
	position: fixed;
	top: 0px;
	left: 0px;
}
div#help {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
}

html * {
	font-family: "Courier New";
}
